<h1><%= @list.name %></h1>

<%= pluralize(@list.movies.size, "movie") %>
<%= "You haven't saved any movies yet!" if @list.movies.empty? %>
<%= link_to 'Back to lists', lists_path%>
<%= link_to "Delete this list",
list_path,
data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>

<% @list.movies.each do |movie| %>
  <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <%= movie.title %> <%= movie.rating %>
      <%= movie.overview %>
      <%= bookmark.comment %>
<%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' %>
<% end %>
